body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    margin: 15px 0;
    font-weight: 700;
}

.card p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}