/* reset style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


/* root style */

:root {
    --bg-color: hsl(212, 45%, 89%);
    --para-color: hsl(216, 15%, 48%);
    --title-color: hsl(218, 44%, 22%);
}


/* general style */

body {
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    padding: 10px 20px;
    width: 400px;
    height: 80vh;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slide-left 4s forwards;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    font-size: 15px;
    text-align: center;
    color: var(--title-color);
    margin: 8px 0;
}

.card p {
    padding: 8px;
    font-size: 15px;
    color: var(--para-color);
}


/* animation */

@keyframes slide-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}