* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 10px 20px;
    background: dodgerblue;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;
}

button {
    color: white;
    padding: 8px 20px;
    border: none;
}

.btn-click {
    background: crimson;
}

.btn-visit {
    border: 2px solid lightgreen;
    color: black;
    background: transparent;
    transition: 4s background, border-radius 4s, border ease-in;
    transform: translate(10%, 20%) rotate(25deg);
}

.btn-visit:hover {
    background: lightcoral;
    border-radius: 5px;
    border: none;
}


/* @keyframes hv {
    0%,
    40% {
        background: transparent;
    }
    100% {
        background: lightseagreen;
    }
} */