/* reset style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    line-height: 1.5;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffa502;
    width: 700px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content {
    position: relative;
    top: -15px;
    bottom: -15px;
    margin-left: 10px;
    background: white;
}

.content h1 {
    margin-top: 40px;
    padding: 20px;
    text-align: start;
}

.content span {
    color: #ffa502;
}

.content p {
    padding: 10px;
    color: #ccc;
}

.content button {
    background: #ffa502;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
}

.right-container {
    position: relative;
}

.discount {
    position: absolute;
    top: 10%;
    background: #fff;
    border-radius: 50%;
    left: -25%;
    z-index: 1;
}

.discount h1 {
    font-weight: 700;
    font-size: 15px;
    padding: 20px;
}

.right-container img {
    transform: translate(-20%, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 10px;
}

.flex-end {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}